@model IEnumerable<LibraryMVC.Models.Borrower>

@{
    ViewData["Title"] = "Borrower Index";
}

<h1>Borrower Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Borrower ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.BorrowerId</td>
        <td>@item.FullName</td>
        <td>@item.Email</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BorrowerId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BorrowerId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BorrowerId">Delete</a>
        </td>
    </tr>
}
</tbody>
</table>
