@model List<EmployeeProjectManagement.Models.Employee>

<h2>Employees</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add Employee</a>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Name</th>
<th>Department</th>
<th>Actions</th>
</tr>

@foreach(var e in Model)
{

<tr>
<td>@e.EmployeeId</td>
<td>@e.Name</td>
<td>@e.Department?.DepartmentName</td>

<td>

<a asp-action="Edit"
asp-route-id="@e.EmployeeId"
class="btn btn-warning btn-sm">
Edit </a>

<a asp-action="Delete"
asp-route-id="@e.EmployeeId"
class="btn btn-danger btn-sm">
Delete </a>

</td>

</tr>
}

</table>
