@model IEnumerable<LibraryMVC.Models.Author>

@{
    ViewData["Title"] = "Author Index";
}

<h1>Author Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Total Books</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.AuthorId</td>
            <td>@item.Name</td>
            <td>@item.Country</td>
            <td>@item.Books.Count()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>